@charset "utf-8";
/* CSS Document */

p.title{
	background:#09F;
	pading:50px;
	font:Verdana, Geneva, sans-serif;
	font-size:20px;
	font-stretch:narrower;
	}
	
#myfont{
	font-size:16px;
	text-align:right;
	}
#banner_font{
	}
	
td.mywidth{
	width:50%;}
	.qWidth{
		width:25%;}
		.autoWidth{
			width:auto;}
			.checkBoxWidth{
				width:8%;
				vertical-align:middle;
				}

	
#bgWhite{
	background:#FFF;
	}
	
#latestOrder{
	width:100%;
	font-size:13px;
	margin:0px auto;
	text-align:left;
	line-height:28px;
	background:#FFF;
	}
	
#categoryFixed{
	background:url(../image/categoryFixed.jpg) no-repeat;
	padding:55px 0px 15px 0px;
	}
#categoryFixed h4{
	margin:0px 18px 0px 18px;
	padding:3px 0px 1px 5px;
	background: #4796E4;
	font-size:14px;
}
#categoryFixed ul{
	list-style:none;
	margin:0px;
	padding:5px 22px 15px 22px;
}
#categoryFixed ul li{
	padding:2px 0px 2px 16px;
	border-bottom:1px dashed #999999;
	background:url(../image/icon1.gif) no-repeat 5px 7px;
}

#categoryFixed ul li a:link, #category ul li a:visited{
	color:#000000;
	text-decoration:none;
}
#categoryFixed ul li a:hover{
	color:#666666;
}

#item_left
{
	background:#EAF2F7;
	width:150px;
	float:left;
	line-height:27px;
	font-size: 14px;
	
}
#item_left dl
{
	margin:15px 10px 10px 10px;
}
#item_left dt
{
	font-weight: 700;
	padding:10px 0 0 10px;
	cursor: default;
}
#item_left dd
{
	cursor: pointer;
}
#item_left div
{
	border-bottom:1px dotted  #999999;
}
#item_left div:hover
{
	background: #FFF;
}
.clear
{
	clear: both; margin: 0; padding: 0; height: 0; font-size: 0; line-height: 0; overflow: hidden
}
.user_note
{
	float:left;
	width:800px;
	background-color: #FFF;
	margin-right:0px;
	margin-left:0px;
	margin-bottom:3px;
	overflow:hidden;
}
.user_note .head
{
	color:#FFF;
	background:#4796E4;
	height:25px;
	font-size:14px;
	padding-top:4px;
	text-align:center;
	border: 1px solid #E6E6E6;
	line-height: 25px;
}
.user_note .user_note_content
{
	padding:15px;	
	float:left;
}
.user_note .user_note_content table
{
	width:617px;
	text-align:center;
	line-height:28px;
}
.user_note .user_note_content p
{
	font-size:14px;
	width:617px;
}
.user_note .user_note_content p span
{
	width:150px;
	margin-right:10px;
	text-align:right;
	display:inline-block;
	font-weight:600;
}
.fliter
{
	width:100%;
	margin:7px 0px 7px 0px;
	border-bottom: 1px solid #CCC;
}
.fliter font
{
	font-family: Verdana,sans-serif,"宋体";
	font-size: 14px;
	color:#666666;
	margin:0px 0px 5px 15px;
}
.fliter .collapse
{
	background:url(../image/img-con.png);
	background-position: 0px -56px;
	height:23px;
	width:27px;
	display:block;
	float:right;
	margin-top:-7px;
	cursor:pointer;
}
.fliter .collapsed
{
	background:url(../image/img-con.png);
	background-position: -27px -56px;
	height:23px;
	width:27px;
	display:block;
	float:right;
	margin-top:-7px;
	cursor:pointer;
}

#header_right
{
	position:relative;
	left:600px;
	
}
#button_right
{
	position:relative;
	left:350px;
	
}
.font_right{
	position:relative;
	left:80px;
	}
#item_font20{
	font-size:20px;
	}
#item_font17{
	font-size:17px;
	}
#saleAmount {
background:url(../image/salesAmount.jpg) no-repeat;
margin: 1px 0px 10px 0px;
padding: 30px 0px 0px 0px;
background-color: white;

}
#orderAmount {
background:url(../image/orderAmout.jpg) no-repeat;
margin: 1px 0px 0px 0px;
padding: 30px 0px 0px 0px;
background-color: white;
}
#img_format{
	width:75px;
	height:100px;
	border:0;
	}
	
.inputttextlarge{
	width:70px;
	}
	
#tr_align{
	text-align:right;
	}
	
#sendnotehead_fixed{
	height:25px;
	background-color:#4796E4;
	font-size:14px;
	padding-left:10px;
	padding-top:4px;
	}
