body{
    font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	background:transparent  url(../image/back.jpg) scroll center top;
	text-align: center;
	-moz-user-select: none; -khtml-user-select: none; user-select: none;
}
/*---------------气泡提示------------------*/
.lj-tipsWrap{min-width:10px;min-height:15px;font-family:'Segoe UI',Calibri, 'Myriad Pro', Myriad, 'Trebuchet MS', Helvetica, Arial, sans-serif;}
.lj-tipsWrap,.lj-in,.lj-close{display:inline-block;}
.lj-tipsWrap{background:#F4FBFF;line-height:1.5em;padding:4px 10px 4px 10px; margin-top:-4px;border:1px solid #2192D3;position: absolute;text-align:left;}
.lj-in{position: absolute;zoom:1;border:10px dashed transparent;width:0px;height:0px;}
.lj-in .lj-span{zoom:1;width:0px;height:0px;overflow:hidden;}
.lj-close{position: absolute;text-decoration:none;color:#000;font-size:14px;zoom:1;text-indent:1px;height:9px; width:9px; overflow:hidden;line-height:0.5em; right:0; top:0;}
.lj-close:hover{color:#39F;}
.lj-content{}
.lj-top{border-top:10px solid #2192D3;bottom:-20px; left:3px;}
.lj-top .lj-span{border-top:10px solid #F4FBFF;margin:-11px 0 0 -10px;}
.lj-right{border-right:10px solid #2192D3;left:-20px; top:2px;}
.lj-right .lj-span{border-right:10px solid #F4FBFF;margin:-10px 0 0 -9px;}
.lj-bottom{border-bottom:10px solid #2192D3;top:-20px; left:3px;}
.lj-bottom .lj-span{border-bottom:10px solid #F4FBFF;margin:-9px 0 0 -10px;}
.lj-left{border-left:10px solid #2192D3;right:-21px; top:3px; }
.lj-left .lj-span{border-left:10px solid #F4FBFF;margin:-10px 0 0 -11px;}
.lj-left ~ .lj-close{left:0;}
/*css 3 渐进增强*/
.lj-tipsWrap{-webkit-border-radius:3px;-moz-border-radius:3px;-webkit-box-shadow:2px 2px 3px #eee;-moz-box-shadow:2px 2px 3px #eee;}



/*----------- 可配置css  kind ------------*/
.lj-tipsWrap{ position: absolute; z-index:1;} /* 可修改z-index 让他不会被盖住*/
/* error css */
.lj-error{background:#F90;color:#f30; border:1px solid #FB8888; background:#FEF2F2;}
.lj-error .lj-top{border-top-color:#FB8888;}
.lj-error .lj-right{border-right-color:#FB8888;}
.lj-error .lj-left{border-left-color:#FB8888;}
.lj-error .lj-bottom{border-bottom-color:#FB8888;}

.lj-error .lj-top .lj-span{border-top-color:#FEF2F2;}
.lj-error .lj-right .lj-span{border-right-color:#FEF2F2;}
.lj-error .lj-left .lj-span{border-left-color:#FEF2F2;}
.lj-error .lj-bottom .lj-span{border-bottom-color:#FEF2F2;}

/* correct css */
.lj-correct{color:#000; border:1px solid #2192D3; background:#F4FBFF;}
.lj-correct .lj-top{border-top-color:#2192D3;}
.lj-correct .lj-right{border-right-color:#2192D3;}
.lj-correct .lj-left{border-left-color:#2192D3;}
.lj-correct .lj-bottom{border-bottom-color:#2192D3;}

.lj-correct .lj-top .lj-span{border-top-color:#F4FBFF;}
.lj-correct .lj-right .lj-span{border-right-color:#F4FBFF;}
.lj-correct .lj-left .lj-span{border-left-color:#F4FBFF;}
.lj-correct .lj-bottom .lj-span{border-bottom-color:#F4FBFF;}
/*---------------气泡提示------------------*/
.hide
{
	display:none;
}
.loading
{
	background:url(../image/loading.gif);
	height:16px;
	width:16px;
}
span.red
{
	color:#FF0000;
}
.left_float
{
	float:left;
}
.left_text
{
	text-align:left;
}
.redStrong{
	color:#F00;
	font-weight:bold;
	}
span.close,span.close:hover
{
	height:16px;
	width:18px;
	display:inline-block;
	float:right;
	right:10px;
	cursor:pointer;
}
span.close:hover
{
	background: url(../image/button2.png);
}
span.close
{
	background:url(../image/button1.png);
}
#overlay
{
	background:#000;
	opacity:0.5;
	display:none;
	position:fixed;
	top:0px;
	left:0px;
	height:100%;
	width:100%;
}
#login_float
{
	position: absolute;
	background:#FFF;
	left:50%;
	margin-left:-250px;
	top:100px;
	width:500px;
	display:none;
}
#regist_float
{
	position: absolute;
	background:#FFF;
	left:50%;
	margin-left:-350px;
	top:100px;
	width:700px;
	display:none;
}
#banner{
	display:block;
	float:left;
	width:799px;
	margin:-2px 0px -5px 0px;
	height:52px;
	border:none;
	background-image:url(../image/whole8.jpg);
	background-position:-1px;
}
#logalleft{
	background-image:url(../image/logal8.png);
	width:799px;
	height:45px;
	private 
}
#logalright{
	color:white;
	font-size:10px;
	padding: 2px;
	float:right;
	margin-top:25px;
	margin-right:5px;
}
#logalright li
{
	list-style:none;
	display:inline;
}
#logalright li#cart_li.hover
{
	background:#FFFFFF;
	list-style:none;
	display: inline;
	border-bottom:#FFFFFF solid 4px;
	border-top:#FFF solid 1px;
}
#logalright a:link{
	font-size: 12px;
	color:#FFF;
	text-decoration: none;

}
#logalright a:visited{
	font-size: 12px;
	color: #FFF;
	text-decoration: none;

}
#logalright a:hover{
	font-size: 12px;
	color: #FFFFFF;
	text-decoration: underline;

}
#logalright a:active{
	font-size: 12px;
	color: #FFFFFF;
}
#logalright #cart_a.hover
{
	color:#4796E4;
	text-decoration:none;
}
#cart
{
	position:absolute;
	top:44px;
	right:37px;
	height:50px;
	display:block;
	width:250px;
	background:#FFF;
	border:#4796E4 solid ;
	border-width: 0px 1px 1px 1px;
	display:none;
}
.cart_loading
{
	background:url(../image/cart_loading.gif);
	height:32px;
	width:32px;
	display:block;
	position:absolute;
	left:50%;
}
#container{
	position:relative;
	margin:0px auto 0px auto;
	width:800px;
	text-align:left;
}

#globallink{
	width:800px;
	height:28px;
	padding:0px;
}
#globallink ul{
    list-style:none;
	padding:0px; margin:0px;
}
#globallink li{
	float:left;
	font-family:"宋体";
	font-size:15px;
	text-align:center;
	width:100px;
	height:28px;
}
#globallink a{
	display:block;
	padding:5px 6px 8px 6px;
	background:url(../image/navigation-menu.png) no-repeat;
	margin:0px;
}
/*
#globallink li a#current{
	color:#FFFFFF;
	background:url(../image/button.jpg) no-repeat;

}
*/
#globallink a:link, #globallink a:visited{
	color:#000000;
	text-decoration:none;
}
#globallink a:hover{
	color:#FFFFFF;
	text-decoration:none;
	background:url(../image/button.jpg) no-repeat;
	/* 替换背景图片 */
}
#globallink .nouseful:hover{
	color:#FFFFFF;
	text-decoration:none;
	background:url(../image/navigation-menu.png) no-repeat;
}

#left{
	width:180px;
	float:left;
	background:#FFFFFF url(../image/leftbotton.jpg) no-repeat;
	margin:5px 2px 0px 0px;	
}

#category{
	background:url(../image/category.jpg) no-repeat;
	padding:55px 0px 15px 0px;
}


#category h4{
	margin:0px 18px 0px 18px;
	padding:3px 0px 1px 5px;
	background: #4796E4;
	font-size:14px;
}
#category ul{
	list-style:none;
	margin:0px;
	padding:5px 22px 15px 22px;
}
#category ul li{
	padding:2px 0px 2px 16px;
	border-bottom:1px dashed #999999;
	background:url(../image/icon1.gif) no-repeat 5px 7px;
}
strong{
	color: #C03;
}

#category ul li a:link, #category ul li a:visited{
	color:#000000;
	text-decoration:none;
}
#category ul li a:hover{
	color:#666666;
}

#main{
	float:left;
	width:616px;
	margin:1px 0px 0px 1px;
}
#main li
{
	border:#FFFFFF solid 1px;
}
#main li:hover
{
	border:#4796E4 1px solid;
	padding:-1px;
}
#search1
{
	width:616px;
	height:30px;
	background-color:#ffffff;
	margin:4px 0px 0px 0px;
}
#search2
{
	width:798px;
	height:30px;
	background-color:#ffffff;
	margin:4px 0px 0px 0px;
	border:#00CCFF solid 1px;
}
#search1 #searchleft,#search2 #searchleft{
	float:left;
	width:130px;
	height:30px;
	margin:0px 0px 0px 0px;
	padding-top:5px;
	padding-left:15px;
	color:#2696ca;
	font-size:14px;
	}
#search1 #searchleft a,#search2 #searchleft a{
	display:inline;
	margin-left:2px;
	color:#2696ca;
	text-decoration:none;
	}
#search1 #searchright,#search2 #searchright{
	float:right;
	height:30px;
	margin:0px 0px 0px 0px;
	padding-top:1px;
	padding-right:10px;
	color:#2696ca;
}

#searchrightcategory{
	height: 23px;
	border-width:1px;
	border-style:solid;
	border-color:#CCCCCC;
	font-size:12px;
	color:#2696ca;

}
#ico_site{
	width:15px;
	height:14px;
}

#textInput{
	border-width:1px;
	border-style:solid;
	border-color:#CCCCCC;
	height:18px;
	
}
#searchbutton{
	height:23px;
	font-size:12px;
}

#recommend{
	background:url(../image/recommend2.jpg) no-repeat;
	margin:3px 0px 0px 0px;
	padding:30px 10px 10px 10px;
	background-color:#FFFFFF;
}

#saleAmount{
	background:url(../image/salesAmount.jpg) no-repeat;
	margin:2px 0px 0px 0px;
	padding:30px 0px 10px 0px;
	background-color:#FFFFFF;
	
	}
	#orderAmount{
	background:url(../image/orderAmout.jpg) no-repeat;
	margin:2px 0px 0px 0px;
	padding:30px 0px 10px 0px;
	background-color:#FFFFFF;
	
	}
#new{
	background:url(../image/book2.jpg) no-repeat;
	margin:3px 0px 0px 0px;
	padding:30px 0px 0px 0px;
	background-color:#FFFFFF;
}
#life{
	background:url(../image/life2.jpg) no-repeat;
	margin:3px 0px 0px 0px;
	padding:30px 0px 0px 0px;
	background-color:#FFFFFF;
}


#recommend br,#new br, #life br{
	display:block;
	clear:both;
	margin:0px; padding:0px;
}
#recommend ul, #new ul, #life ul{
	list-style:none;
	margin:0px;
	padding:5px 5px 5px 8px;
}
#recommend ul li, #new ul li, #life ul li{
	text-align:center;
	float:left;
	width:118px;
}
#recommend ul li img, #new ul li img, #life ul li img{
	border:none;
	margin:5px 2px 3px 2px;
	padding:0px;
    	width:90px;
	height:120px;
}
#recommend ul li a:link,#recommend ul li a:visited, #new ul li a:link,#new ul li a:visited,#life ul li a:link,#life ul li a:visited{
	color:#666666;
	text-decoration:none;
}
#recommend ul li a:hover, #new ul li a:hover, #life ul li a:hover{
	color:#FF0000;
	text-decoration:none;
}

#footer{
	float:left;
	margin:2px auto 0px auto;
	width:800px;
	border-top-color:#00CCFF;
	border-top-style:solid;
	border-top-width:1px;
	text-align:left;
}
#sendnote_float_r{
	width:698px;
	height:230px;
	float:left;
	border:#4796E4 solid 1px;
}
#sendnote_float{
	width:498px;
	height:141px;
	float:left;
	border:#4796E4 solid 1px;
}
#sendnotecontent h4{
	padding-left:10px;
}

#sendnote, #double1, #double2{
	width:498px;
	float:left;
	border: #4796E4 solid 1px;
	background-color:#EBEBEB;
}

#sendnotehead, #doublehead1, #doublehead2{
	height:25px;
	background-color: #4796E4;
	font-size:14px;
	padding-left:5px;
	padding-top:4px;
}
#sendnotecontent, #doublecontent1,#doublecontent2{
	background-color:#F8F8F8;
	}
#sendnotecontent ul{
	list-style:none;
	margin:0px;
}
#sendnotecontent ul li{
	padding-top:14px;
	padding-bottom:14px;
}
#tradequery,#creditquery,#itemsearch_l,#favorite,#doublecontenttable1,#doublecontenttable3,#commenttable{
	width:498px;
	font-size:13px;
	margin:0px auto;
	text-align:center;
	line-height:28px;
}
#itemsearch_r
{
	width:698px;
	font-size:13px;
	margin:0px auto;
	line-height:28px;
}
.itemsearchth{
	font-family:"宋体";
	width:180px;
	text-align:right;
}
#itemsearch_r select
{
	text-align:left;
}
.itemsearchtd1{
	width:221px;
}
.itemsearchtd2{
	width:281px;
	color:#FF0000;
	text-align:left;
}
#pwdfind{
text-decoration:none;
}
.inputtext,.inputtext_gray{
	border-width:1px;
	border-style:solid;
	border-color:#CCCCCC;
	width:180px;
	text-align:left;
}
.gray
{
	color: rgb(153, 153, 153);
}
.midinputtext,.midinputtext_gray{
	border-width:1px;
	border-style:solid;
	border-color:#CCCCCC;
	width:100px;
	text-align:left;
}
.inputtext_gray,.midinputtext_gray
{
	color: rgb(153, 153, 153);
}
#footer #footerleft{
	float:left;
	font-size: 12px;
	font-family: "宋体";
	color: #000000;
	margin-top:3px;
	margin-bottom:5px;
}
#footer #footerright{
	float:right;
	font-size: 12px;
	font-family: "宋体";
	color: #000000;
	margin-top:3px;
	margin-bottom:5px;
}
