body{
    font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	text-align: center;
	background:transparent url(../image/back.jpg) scroll center top;
	-moz-user-select: none; -khtml-user-select: none; user-select: none;
	margin:0px;
}
a
{
	text-decoration:none;
}
a:visited
{
	color:#005EA7;
}
ul
{
	margin:0px;
	padding:0px;
	list-style:none;
}
/*---------------气泡提示------------------*/
.lj-tipsWrap{min-width:10px;min-height:15px;font-family:'Segoe UI',Calibri, 'Myriad Pro', Myriad, 'Trebuchet MS', Helvetica, Arial, sans-serif;}
.lj-tipsWrap,.lj-in,.lj-close{display:inline-block;}
.lj-tipsWrap{background:#F4FBFF;line-height:1.5em;padding:4px 10px 4px 10px; margin-top:-4px;border:1px solid #2192D3;position: absolute;text-align:left;}
.lj-in{position: absolute;zoom:1;border:10px dashed transparent;width:0px;height:0px;}
.lj-in .lj-span{zoom:1;width:0px;height:0px;overflow:hidden;}
.lj-close{position: absolute;text-decoration:none;color:#000;font-size:14px;zoom:1;text-indent:1px;height:9px; width:9px; overflow:hidden;line-height:0.5em; right:0; top:0;}
.lj-close:hover{color:#39F;}
.lj-content{}
.lj-top{border-top:10px solid #2192D3;bottom:-20px; left:3px;}
.lj-top .lj-span{border-top:10px solid #F4FBFF;margin:-11px 0 0 -10px;}
.lj-right{border-right:10px solid #2192D3;left:-20px; top:2px;}
.lj-right .lj-span{border-right:10px solid #F4FBFF;margin:-10px 0 0 -9px;}
.lj-bottom{border-bottom:10px solid #2192D3;top:-20px; left:3px;}
.lj-bottom .lj-span{border-bottom:10px solid #F4FBFF;margin:-9px 0 0 -10px;}
.lj-left{border-left:10px solid #2192D3;right:-21px; top:3px; }
.lj-left .lj-span{border-left:10px solid #F4FBFF;margin:-10px 0 0 -11px;}
.lj-left ~ .lj-close{left:0;}
/*css 3 渐进增强*/
.lj-tipsWrap{-webkit-border-radius:3px;-moz-border-radius:3px;-webkit-box-shadow:2px 2px 3px #eee;-moz-box-shadow:2px 2px 3px #eee;}



/*----------- 可配置css  kind ------------*/
.lj-tipsWrap{ position: absolute; z-index:12;} /* 可修改z-index 让他不会被盖住*/
/* error css */
.lj-error{background:#F90;color:#f30; border:1px solid #FB8888; background:#FEF2F2;}
.lj-error .lj-top{border-top-color:#FB8888;}
.lj-error .lj-right{border-right-color:#FB8888;}
.lj-error .lj-left{border-left-color:#FB8888;}
.lj-error .lj-bottom{border-bottom-color:#FB8888;}

.lj-error .lj-top .lj-span{border-top-color:#FEF2F2;}
.lj-error .lj-right .lj-span{border-right-color:#FEF2F2;}
.lj-error .lj-left .lj-span{border-left-color:#FEF2F2;}
.lj-error .lj-bottom .lj-span{border-bottom-color:#FEF2F2;}

/* correct css */
.lj-correct{color:#000; border:1px solid #2192D3; background:#F4FBFF;}
.lj-correct .lj-top{border-top-color:#2192D3;}
.lj-correct .lj-right{border-right-color:#2192D3;}
.lj-correct .lj-left{border-left-color:#2192D3;}
.lj-correct .lj-bottom{border-bottom-color:#2192D3;}

.lj-correct .lj-top .lj-span{border-top-color:#F4FBFF;}
.lj-correct .lj-right .lj-span{border-right-color:#F4FBFF;}
.lj-correct .lj-left .lj-span{border-left-color:#F4FBFF;}
.lj-correct .lj-bottom .lj-span{border-bottom-color:#F4FBFF;}
/*---------------气泡提示------------------*/
#toURL
{
	display:none;
}
.hide
{
	display:none;
}
.clear
{
	clear: both; margin: 0; padding: 0; height: 0; font-size: 0; line-height: 0; overflow: hidden
}
.loading
{
	background:url(../image/loading.gif);
	height:16px;
	width:16px;
}
span.red
{
	color:#FF0000;
}
.left_float
{
	float:left;
}
.right_text
{
	text-align:right;
}
.top
{
	width:799px;
	height:27px;
	position:absolute;
	z-index:10;
	color: #E8E8E8;
}
.top .division
{
	margin:7px -1px 0px -1px;
	cursor:default;
	padding:0px;
	float:left;
}
.top .top_right
{
	float:right;
	height:27px;
	margin-right:10px;
}
.top li
{
	list-style:none;
	float:left;
	padding:1px 7px 0px 7px;
	margin-top:6px;
	cursor:pointer;
}
.top a,.top a:visited
{
	color: #E8E8E8;
	text-decoration:none;
}
.top #cart_top
{
	width:85px;
}
.top #cart_top.hover
{
	background:#FFFFFF;
	padding-bottom:3px;
	border-top:#FFF solid 1px;
}
.top #cart_a.hover
{
	color:#4796E4;
	text-decoration:none;
}
.top #cart_icon
{
	height:15px;
	width:17px;
	background:url(../image/cart_icon.png) no-repeat 0px -1px;
	display:inline-block;
	margin-bottom:-3px;
	margin-right:4px;
}
.top #cart_icon.hover
{
	height:15px;
	width:17px;
	background:url(../image/cart_icon.png) no-repeat 0px -18px;
	display:inline-block;
	margin-bottom:-3px;
	margin-right:4px;
}
.top #mymall:hover
{
	text-decoration:none;
	background:#FFFFFF;
	padding-bottom:4px;
}
.top #mymall:hover a
{
	color:#4796E4;
}

.top #mymall_icon
{
	height:15px;
	width:17px;
	background:url(../image/cart_icon.png) no-repeat -17px -1px;
	display:inline-block;
	margin-bottom:-3px;
	margin-right:4px;
}
.top #mymall:hover #mymall_icon
{
	height:15px;
	width:17px;
	background:url(../image/cart_icon.png) no-repeat -17px -18px;
	display:inline-block;
	margin-bottom:-3px;
	margin-right:4px;
}
#login_top a:hover,#regist_top a:hover
{
	color:#0099FF;
}
#top-overlay
{
	width:799px;
	height:27px;
	position:absolute;
	background-color:#000000;
	opacity:0.3;
	filter:alpha(opacity=30);
	-moz-opacity:0.3;
	-khtml-opacity: 0.3;
	z-index:5;
}
.fliter
{
	width:100%;
	margin:7px 0px 7px 0px;
	border-bottom: 1px solid #CCC;
}
.fliter font
{
	font-family: Verdana,sans-serif,"宋体";
	font-size: 14px;
	color:#666666;
	margin:0px 0px 5px 15px;
}
.fliter .collapse
{
	background:url(../image/img-con.png);
	background-position: 0px -56px;
	height:23px;
	width:27px;
	display:block;
	float:right;
	margin-top:-7px;
	cursor:pointer;
}
.fliter .collapsed
{
	background:url(../image/img-con.png);
	background-position: -27px -56px;
	height:23px;
	width:27px;
	display:block;
	float:right;
	margin-top:-7px;
	cursor:pointer;
}
span.close,span.close:hover
{
	height:16px;
	width:18px;
	display:inline-block;
	float:right;
	right:10px;
	cursor:pointer;
}
span.close:hover
{
	background: url(../image/button2.png);
}
span.close
{
	background:url(../image/button1.png);
}
#overlay
{
	background:#000;
	filter:alpha(opacity=50);
	-moz-opacity:0.5;
	-khtml-opacity: 0.5;
	opacity:0.5;
	display:none;
	position:fixed;
	top:0px;
	left:0px;
	height:100%;
	width:100%;
	z-index:11;
}
#login_float
{
	position: absolute;
	background:#FFF;
	left:50%;
	margin-left:-250px;
	top:150px;
	width:500px;
	display:none;
	z-index:12;
}
#regist_float
{
	position: absolute;
	background:#FFF;
	left:50%;
	margin-left:-350px;
	top:150px;
	width:700px;
	display:none;
	z-index:12;
}
#logalleft{
	background-image:url(../image/logal8.png);
	width:799px;
	height:100px;
}
#ico_site{
	width:15px;
	height:14px;
}
#logalright{
	color:white;
	font-size:10px;
	padding: 2px;
	float:right;
	margin-top:80px;
	margin-right:5px;
	font-size:12px;
}
#logalright li
{
	list-style:none;
	display:inline;
}
#logalright li#cart_li.hover
{
	background:#FFFFFF;
	list-style:none;
	display:inline;
	border-bottom:4px #FFFFFF solid;
}
#logalright a:link{
	font-size: 12px;
	color: #FFFFFF;
	text-decoration: none;
}
#logalright a:visited{
	font-size: 12px;
	color: #FFFFFF;
	text-decoration: none;

}
#logalright a:hover{
	font-size: 12px;
	color: #FFFFFF;
	text-decoration: underline;

}
#logalright a:active{
	font-size: 12px;
	color: #FFFFFF;
}

#logalright #cart_a.hover
{
	color:#4796E4;
	text-decoration:none;
}

#cart
{
	position:absolute;
	top:26px;
	right:9px;
	min-height:50px;
	width:300px;
	background:#FFF;
	border:#4796E4 solid ;
	border-width: 0px 1px 1px 1px;
	display:none;
	z-index:11;
	border-radius: 5px 0 5px 5px ;
	-moz-border-radius: 5px 0 5px 5px;
	-webkit-border-radius: 5px 0 5px 5px;
}
#cart_loading
{
	background:url(../image/cart_loading.gif);
	height:32px;
	width:32px;
	display:block;
	position:absolute;
	left:135px;
	top:10px;
}
#cart_container
{
}
#cart_head
{
	height: 32px;
	background: url(../image/bg_gallery.jpg) #CCC repeat-x 0px -111px;
	border-radius: 5px 0 0px 0px ;
	-moz-border-radius: 5px 0 0px 0px;
	-webkit-border-radius: 5px 0 0px 0px;
}
#cart_head h4
{
	margin:0px;
	padding:10px 0px 0px 10px;
}
#cart_content
{
}
#cart_content li
{
	height: 52px;
	padding: 8px 10px;
	border-top: 1px dotted #CCC;
	overflow: hidden;
	line-height: 17px;
	vertical-align: bottom;
}
#cart_content li .cart_img
{
	height:50px;
	width:50px;
	float:left;
	overflow:hidden;
	border:1px solid #DDD;
	margin-right: 10px;
}
#cart_content li .cart_img img
{
	margin-top:-5px;
	margin-left:2px;
	height:60px;
	width:46px;
}
#cart_content li .cart_name
{
	line-height:17px;
	float:left;
	width: 140px;
	height: 52px;
	overflow:hidden;
	word-break: break-all;
	word-wrap: break-word;
}
#cart_content li .cart_name a,#cart_content li .cart_name a:visited
{
	color: #333;
	text-decoration: none;
}
#cart_content li .cart_name a:hover
{
	color: #C00;
	text-decoration: underline;
}
#cart_content .cart_price
{
	width:78px;
	float:left;
	text-align:right;
}
#cart_content .delete
{
	color: #005EA7;
	text-decoration:none;
}
#cart_content .cart_price span
{
	color: #666;
}
#cart_button
{
	text-align:right;
	padding: 8px;
	background:whiteSmoke;
	border-radius: 0px 0 5px 5px ;
	-moz-border-radius: 0px 0 5px 5px;
	-webkit-border-radius: 0px 0 5px 5px;
}
#cart_button strong
{
	font-size:16px;
}
#cart_button a,#cart_button a:hover
{
	width:100px;
	height:28px;
	background:url(../image/top_cart_icon.gif);
	display: block;
	float:right;
	text-align:center;
	line-height:28px;
	color:#FFFFFF;
	cursor:pointer;
	text-decoration:none;
}
#cart_none
{
	padding:15px;
	text-align:center;
	line-height:20px;
	display:none;
	background:whiteSmoke;
	border-radius: 5px 0 5px 5px ;
	-moz-border-radius: 5px 0 5px 5px;
	-webkit-border-radius: 5px 0 5px 5px;
}
.add_to_cart1
{
	background:url(../image/add_to_cart.jpg);
	height:25px;
	width:100px;
	cursor:pointer;
	
}
#container{
	position:relative;
	margin:0px auto 0px auto;
	width:799px;
	text-align:left;
	display:inline-block;
	background: #EAEAEA;
}
#globallink{
	width:800px;
	height:28px;
	margin:0px;
	padding:0px;
}
#globallink li{
	float:left;
	font-family:"宋体";
	font-size:15px;
	height:28px;
	text-align:center;
	width:100px;
}
#globallink a{
	display:block;
	padding:5px 6px 8px 6px;
	background:url(../image/navigation-menu.png) no-repeat;
	margin:0px;
}
#globallink a:link, #globallink a:visited{
	color:#000000;
	text-decoration:none;
}
#globallink a:hover{
	color:#FFFFFF;
	text-decoration:none;
	background:url(../image/button.jpg) no-repeat;
	/* 替换背景图片 */
}
#globallink .nouseful:hover{
	color:#FFFFFF;
	text-decoration:none;
	background:url(../image/navigation-menu.png) no-repeat;
}
#category{
	background:url(../image/category.jpg) no-repeat;
	padding:55px 0px 15px 0px;
}
#category h4{
	margin:0px 18px 0px 18px;
	padding:3px 0px 1px 5px;
	background: #4796E4;
	font-size:14px;
}
#category ul{
	list-style:none;
	margin:0px;
	padding:5px 22px 15px 22px;
}
#category ul li{
	padding:2px 0px 2px 16px;
	border-bottom:1px dashed #999999;
	background:url(../image/icon1.gif) no-repeat 5px 7px;
}

strong{
	color:#C03;
}

#category ul li a:link, #category ul li a:visited{
	color:#000000;
	text-decoration:none;
}
#category ul li a:hover{
	color:#666666;
	text-decoration:underline;
}

#main{
	float:left;
	width:800px;
	margin:0px 0px 0px 0px;
}
#search2
{
	width:799px;
	height:30px;
	background-color:#ffffff;
	border-width:1px 0px 1px 0px;
	border-style:solid;
	border-color:#CCCCCC;
}
#search2 #searchleft{
	float:left;
	width:360px;
	height:22px;
	padding-top:7px;
	padding-left:15px;
	color:#2696ca;
	font-size:14px;
	}
#search2 #searchleft a{
	display:inline;
	margin-left:2px;
	color:#2696ca;
}
#search2 #searchright2{
	float:right;
	height:30px;
	margin:4px 0px 0px 4px;
	padding-top:0px;
	color:#2696ca;
}
#search2 #searchright1{
	float:right;
	height:30px;
	margin:0px 0px 0px 0px;
	padding-top:0px;
	color:#2696ca;
}

#search2 #searchright2 #textInput{
	border-width:1px;
	border-style:solid;
	border-color:#CCCCCC;
	height:18px;
}
.inputtext,.inputtext_gray{
	border-width:1px;
	border-style:solid;
	border-color:#CCCCCC;
	width:180px;
	text-align:left;
}
.midinputtext,.midinputtext_gray{
	border-width:1px;
	border-style:solid;
	border-color:#CCCCCC;
	width:100px;
	text-align:left;
}
.inputtext_gray,.midinputtext_gray
{
	color: rgb(153, 153, 153);
}
.gray
{
	color: rgb(153, 153, 153);
}
.smallinputext{
	border-width:1px;
	border-style:solid;
	border-color:#CCCCCC;
	width:40px;
}
.inputHeaderGrey{
	color:#cccccc;
}
#search2 #searchright2 #searchbutton{
	height:23px;
	font-size:12px;
}
#search2 #searchright1 #searchrightcategory{
	height: 23px;
	margin-top:5px;
	border-width:1px;
	border-style:solid;
	border-color:#CCCCCC;
	font-size:12px;
	color:#2696ca;
}

#sendnote, #double1, #double2{
	width:799px;
	float:left;
	background-color:#EBEBEB;
}
#sendnotehead, #doublehead1, #doublehead2{
	height:25px;
	background-color:#4796E4;
	color:#FFFFFF;
	font-size:14px;
	padding-left:5px;
	padding-top:4px;
}
#sendnotecontent, #doublecontent1,#doublecontent2{
	background-color:#F8F8F8;
	}

#sendnotecontent ul li{
	padding-top:14px;
	padding-bottom:14px;
}
#tradequery,#creditquery,#itemsearch,#doublecontenttable1,#doublecontenttable3,#commenttable{
	width:798px;
	font-size:13px;
	margin:0px auto;
	text-align:left;
	line-height:28px;
}
#itemsearch_l
{
	width:498px;
	font-size:13px;
	margin:0px auto;
	text-align:center;
	line-height:28px;
}
.itemsearchth{
	font-family:"宋体";
	width:130px;
	text-align:right;
}

.itemsearchtd1{
	width:221px;
}

.itemsearchtd2{
	width:281px;
	color:#FF0000;
}
#pwdfind{
text-decoration:none;
}
#tradequery th,#creditquery th{
	text-align:center;
	width:180px;
}
#doublecontenttable1 th{
	text-align:center;
	border-bottom-color:#CCCCCC;
	border-bottom-style:solid;
	border-bottom-width:1px;
}
#doublecontenttable1 td{
	text-align:center;
}
#doublecontenttable3 td{
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-right-width:1px;
	border-right-style:solid;
	border-color:#CCCCCC;
	text-align:center;
}

.picture{
	border-width:0px;
}
.picture1{
	width:120px;
	height:150px;
	border-width:0px;
}

#itemsearch{
	text-align: center;
}
#itemsearch_r
{
	width:698px;
	font-size:13px;
	margin:0px auto;
	text-align:center;
	line-height:28px;
}
#itemsearch select,#inputtext{
	width:180px;
}
.midselect
{
	width:90px;
}
#itemsearch_r select
{
	text-align:left;
}
#tradequery td,#itemsearch td{
	text-align:left;
}
#creditquery td{
	text-align:center;
}
#creditquery .tdleftalign{
	text-align:left;
}
#creditquery caption{
	text-align:center;
	font-size:15px;
	color:#FF0000;
	border-bottom-width:1px;
	border-bottom-color:#CCCCCC;
	border-bottom-style: dashed;
}
.commentr1color{
	border-bottom-width:1px;
	border-bottom-color:#CCCCCC;
	border-bottom-style: dashed;
}
.commentr2color{
	border-bottom-width:2px;
	border-bottom-color:#DEDEDE;
	border-bottom-style: solid;
}

.red{
	color: #FF0000;
}
.user_note
{
	float:left;
	width:647px;
	background-color: #FFF;
	overflow:hidden;
	border:1px solid #DDD;
}
.user_note .head
{
	color:#FFF;
	background:#4796E4;
	height:25px;
	font-size:14px;
	padding-top:4px;
	text-align:center;
	/*border: 1px solid #E6E6E6;*/
	line-height: 25px;
}
.user_note .user_note_content
{
	padding:15px;	
	float:left;
}
.user_note .user_note_content table
{
	width:617px;
	text-align:center;
	line-height:28px;
}
.user_note .user_note_content p
{
	font-size:14px;
	width:617px;
}
.user_note .user_note_content p span
{
	width:150px;
	margin-right:10px;
	text-align:right;
	display:inline-block;
	font-weight:600;
}
.user_left
{
	background:#EAF2F7;
	width:150px;
	float:left;
	line-height:27px;
	font-size: 14px;
	
}
.user_left dl
{
	margin:15px 10px 10px 10px;
}
.user_left dt
{
	border-top: 1px solid  #666;
	font-weight: 700;
	padding:10px 0 0 10px;
	cursor: default;
}
.user_left dd
{
	cursor: pointer;
}
.user_left div:hover
{
	background: #FFF;
}
#footer{
	position:absolute;
	bottom:-30px;
	float:left;
	margin:2px auto 0px auto;
	width:800px;
	border-top-color:#00CCFF;
	border-top-style:solid;
	border-top-width:1px;
	text-align:left;
}
#footer #footerleft{
	float:left;
	font-size: 12px;
	font-family: "宋体";
	color: #000000;
	margin-top:3px;
	margin-bottom:5px;
}
#footer #footerright{
	float:right;
	font-size: 12px;
	font-family: "宋体";
	color: #000000;
	margin-top:3px;
	margin-bottom:5px;
}
.textAreaStyle{
	width:350px;
	height:80px;

}
span.star,span.sa1,span.sa2,span.sa3,span.sa35,span.sa4,span.sa45,span.sa5
{
	background: url(../image/grade_bg.gif) no-repeat;
	height:15px;
	display: inline-block;
}
span.star
{
	background-position:0px -16px;
	width:70px;
}
span.sa1
{
	background-position:0px 2px;
	width:14px;
}
span.sa2
{
	background-position:0px 2px;
	width:28px;
}
span.sa3
{
	background-position:0px 2px;
	width:42px;
}
span.sa35
{
	background-position:0px 2px;
	width:49px;
}
span.sa4
{
	background-position:0px 2px;
	width:56px;
}
span.sa45
{
	background-position:0px 2px;
	width:63px;
}
span.sa5
{
	background-position:0px 2px;
	width:70px;
}