#item_search
{
	width:799px;
	float:left;
	background-color:#F8F8F8;
}
#item_search_content
{
	padding:15px 0px 15px 0px;
}
#item_search_head
{
	height:25px;
	background-color:#4796E4;
	font-size:14px;
	padding-left:5px;
	padding-top:4px;
	text-align:center;
}
#item_search_table
{
	width:799px;
	font-size:13px;
	line-height:28px;
}
#item_search_table th
{
	text-align:right;
}

#item_left
{
	background:#EAF2F7;
	width:150px;
	float:left;
	line-height:27px;
	font-size: 14px;
	font-family:"Microsoft YaHei";
}
#item_left dl
{
	margin:15px 10px 10px 10px;
}
#item_left dt
{
	font-weight: 700;
	padding:10px 0 0 10px;
	cursor: default;
}
#item_left dd,#item_left dt
{
	cursor: pointer;
}
#item_left div
{
	border-bottom:1px dotted  #999999;
}
#item_left div:hover
{
	background: #FFF;
}
#item_left div.selected
{
	background: #FFFCEB;
}
#item_container
{
	line-height:25px;
	background:#FFF;
	list-style-type:none;
	padding:10px;
}
#item_container img
{
	vertical-align: middle;
}
.item
{
	width: 610px;
	padding:15px;
	border-bottom: 1px solid #CCC;
	display:inline-block;
}
.item a
{
	text-decoration:none;
}
.item .btns
{
	margin-top:7px;
}
.item .p-img
{
	position: relative;
	float: left;
	margin-bottom: 0;
	overflow: visible;
	width: 98px;
	height: 134px;
	padding: 0 10px;
	overflow: hidden;
	margin: 0 auto 8px;
}
.item .i-img
{
	width: 94px;
	height: 130px;
	padding: 1px;
	overflow: hidden;
	border: 1px solid #CCC;
	background: white;
}
.i-img img
{
	margin:-13px 0 0 -13px;
	width:120px;
	height:160px;
}
.item .dl
{
	width:460px;
	float:left;
}
.item .p-name
{
	height: auto;
	margin-bottom: 7px;
	font-family: Verdana,sans-serif,"宋体";
	font-size: 14px;
	font-weight: bold;
}
.item .p-info
{
	line-height:14px;
}


