#item_search
{
	width:799px;
	float:left;
	background-color:#EBEBEB;
}
#item_search_content
{
	padding:15px 0px 15px 0px;
}
#item_search_head
{
	height:25px;
	background-color:#4796E4;
	font-size:14px;
	padding-left:5px;
	padding-top:4px;
	text-align:center;
}
#item_search_table
{
	width:799px;
	font-size:13px;
	line-height:28px;
}
#item_search_table th
{
	text-align:right;
}

