<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<import resource="symagic-interceptor-bean.xml" />
	
	<import resource="symagic-common-bean.xml"/>
	
	<import resource="symagic-admin-bean.xml"/>
	
	<import resource="symagic-user-bean.xml"/>
	
	<import resource="symagic-service-bean.xml"/>
	
	<import resource="symagic-data-bean.xml"/>


</beans>

