<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<!-- 用户拦截器配置 -->
	<bean id="UserLoginInterceptor" class="org.symagic.common.interceptor.UserLoginInterceptor">
		<property name="guestIllegalURL">
			<set>
				<!-- 被认为是非法的用户操作 -->
			</set>
		</property>
	</bean>

	<!-- 管理员拦截器配置 -->
	<bean id="AdminLoginInterceptor" class="org.symagic.common.interceptor.AdminLoginInterceptor">
		<property name="guestIllegalURL">
			<set>
				<!-- 被认为是非法的管理员操作 -->
			</set>
		</property>
	</bean>

	<!-- 配置验证码生成及检查 -->
	<bean class="org.symagic.common.utilty.captcha.SymagicCaptchaService"
		id="imageCaptchaService" />

	<bean id="JCaptcha" class="org.symagic.common.utilty.captcha.JCaptcha">
		<property name="jcaptchaImageServer" ref="imageCaptchaService"></property>
	</bean>


	<bean id="checkCaptcha" class="org.symagic.common.action.captcha.CheckCaptchaAction">
		<property name="symagicCaptcha" ref="JCaptcha"></property>
	</bean>

	<bean id="generateCaptcha" class="org.symagic.common.action.captcha.GenerateCaptchaAction">
		<property name="symagicCaptcha" ref="JCaptcha"></property>
	</bean>

	<!-- 通用的ActionBean -->
	<bean id="OrderDetailAction" class="org.symagic.common.action.order.OrderDetailAction">
		<property name="orderService" ref="OrderService"></property>
	</bean>

	<!-- 管理员的action bean -->
	<bean id="AdminIndex" class="org.symagic.admin.action.index.AdminIndexAction">
		<property name="daoUser" ref="DaoUser"></property>
		<property name="daoOrder" ref="DaoOrder"></property>
		<property name="daoBook" ref="DaoBook"></property>
		<property name="orderService" ref="OrderService"></property>
		<property name="catalogService" ref="CatalogService"></property>
	</bean>

	<bean id="AdminLogin" class="org.symagic.admin.action.login.AdminLoginAction">
		<property name="symagicCaptcha" ref="JCaptcha"></property>
		<property name="daoAdmin" ref="DaoAdmin"></property>
	</bean>

	<!-- 管理员Item -->
	<bean id="AdminAddItem" class="org.symagic.admin.action.item.ItemAddAction">
		<property name="daoBook" ref="DaoBook"></property>
		<property name="shopImageFileFolder" value="book-image"></property>
	</bean>

	<bean id="AdminEnterModifyItem" class="org.symagic.admin.action.item.ItemModifyEnterAction">
		<property name="itemService" ref="ItemService"></property>
		<property name="catalogService" ref="CatalogService"></property>
	</bean>

	<bean id="AdminModifyItemSubmit" class="org.symagic.admin.action.item.ItemModifySubmitAction">
		<property name="daoBook" ref="DaoBook"></property>
		<property name="shopImageFileFolder" value="book-image"></property>
	</bean>

	<bean id="AdminOfflineItem" class="org.symagic.admin.action.item.ItemOffAction">
		<property name="daoBook" ref="DaoBook"></property>
	</bean>

	<bean id="AdminUplineItem" class="org.symagic.admin.action.item.ItemUpAction">
		<property name="daoBook" ref="DaoBook"></property>
	</bean>

	<bean id="AdminViewItemDetail" class="org.symagic.admin.action.item.AdminItemDetailAction">
		<property name="itemService" ref="ItemService"></property>
		<property name="catalogService" ref="CatalogService"></property>
		<property name="lines" value="15"></property>
	</bean>

	<bean id="AdminEnterCatalogManager"
		class="org.symagic.admin.action.catalog.CatalogManagerEnterAction">
		<property name="catalogService" ref="CatalogService"></property>
	</bean>

	<bean id="AdminAddCatalog" class="org.symagic.admin.action.catalog.CatalogAddAction">
		<property name="daoCatalog" ref="DaoCatalog"></property>
	</bean>

	<bean id="AdminSubmitCatalogModify"
		class="org.symagic.admin.action.catalog.CatalogEditSubmitAction">
		<property name="daoCatalog" ref="DaoCatalog"></property>
	</bean>

	<bean id="AdminEnterEditCatalog" class="org.symagic.admin.action.catalog.CatalogEditEnterAction">
		<property name="daoCatalog" ref="DaoCatalog"></property>
	</bean>

	<bean id="AdminDeleteCatalog" class="org.symagic.admin.action.catalog.CatalogDeleteAction">
		<property name="daoCatalog" ref="DaoCatalog"></property>
	</bean>


	<bean id="AdminEnterOrderEdit"
		class="org.symagic.admin.action.order.AdminOrderEditEnterAction">
		<property name="orderService" ref="OrderService"></property>
		<property name="daoDistrict" ref="DaoDistrict"></property>
	</bean>

	<bean id="AdminSubmitOrderEdit"
		class="org.symagic.admin.action.order.AdminOrderEditSubmitAction">
		<property name="daoOrder" ref="DaoOrder"></property>
		<property name="daoDistrict" ref="DaoDistrict"></property>
		<property name="daoBook" ref="DaoBook"></property>
	</bean>

	<bean id="AdminPassOrder" class="org.symagic.admin.action.order.AdminPassOrderAction">
		<property name="daoOrder" ref="DaoOrder"></property>
	</bean>

	<bean id="AdminFailOrder" class="org.symagic.admin.action.order.AdminFailOrderAction">
		<property name="daoOrder" ref="DaoOrder"></property>
		<property name="daoBook" ref="DaoBook"></property>
	</bean>

	<bean id="AdminDeleteOrder" class="org.symagic.admin.action.order.AdminDeleteOrderAction">
		<property name="daoOrder" ref="DaoOrder"></property>
	</bean>

	<bean id="AdminSubmitScoreRate"
		class="org.symagic.admin.action.level.AdminScoreRateSubmitAction">
		<property name="daoLevel" ref="DaoLevel"></property>
	</bean>

	<bean id="AdminEnterCommentManager"
		class="org.symagic.admin.action.comment.AdminEnterCommentManagerAction">
		<property name="daoComment" ref="DaoComment"></property>
	</bean>

	<!-- 用户的action bean -->


	<bean id="indexClass" class="org.symagic.user.action.index.IndexAction">
		<property name="recommendService" ref="RecommendService"></property>
		<property name="catalogService" ref="CatalogService"></property>
		<property name="itemService" ref="ItemService"></property>
	</bean>
	<bean id="getSessionInfo" class="org.symagic.user.action.login.GetSessionInfoAction"></bean>
	<bean id="loginClass" class="org.symagic.user.action.login.LoginAction">
		<property name="symagicCaptcha" ref="JCaptcha"></property>
		<property name="userService" ref="UserService"></property>
	</bean>
	<bean id="registerClass" class="org.symagic.user.action.register.RegisterAction">
		<property name="symagicCaptcha" ref="JCaptcha"></property>
		<property name="userService" ref="UserService"></property>
	</bean>
	<bean id="usernameUnique" class="org.symagic.user.action.register.CheckUsernameAction">
		<property name="userService" ref="UserService"></property>
	</bean>

	<!-- 关于购物的bean -->
	<bean id="addToCart" class="org.symagic.user.action.cart.CartAddItemAction">
		<property name="daoCart" ref="DaoCart"></property>
	</bean>

	<bean id="deleteFromCart" class="org.symagic.user.action.cart.CartDeleteItemAction">
		<property name="daoCart" ref="DaoCart"></property>
	</bean>
	<bean id="detailOfCart" class="org.symagic.user.action.cart.CartDetailAction">
		<property name="itemService" ref="ItemService"></property>
	</bean>
	<bean id="updateCart" class="org.symagic.user.action.cart.CartModifyItemAction">
		<property name="daoCart" ref="DaoCart"></property>
	</bean>

	<bean id="cartEnter" class="org.symagic.user.action.cart.CartEnterAction">
		<property name="itemService" ref="ItemService"></property>
		<property name="catalogService" ref="CatalogService"></property>

	</bean>

	<!-- 关于收藏夹的bean -->
	<bean id="addToFavorite" class="org.symagic.user.action.favority.FavorityAddAction">
		<property name="daoFavorityFolder" ref="DaoFavorityFolder"></property>
	</bean>
	<bean id="deleteFromFavority" class="org.symagic.user.action.favority.FavorityDeleteAction">
		<property name="daoFavorityFolder" ref="DaoFavorityFolder"></property>
	</bean>

	<!-- 关于商品的bean -->
	<bean id="advanceSearch" class="org.symagic.user.action.item.AdvanceSearchAction">
		<property name="itemService" ref="ItemService"></property>
		<property name="recommendService" ref="RecommendService"></property>
	</bean>

	<bean id="quickSearch" class="org.symagic.user.action.item.QuickSearchAction">
		<property name="itemService" ref="ItemService"></property>
		<property name="recommendService" ref="RecommendService"></property>
	</bean>

	<bean id="itemDetail" class="org.symagic.user.action.item.ItemDetailAction">
		<property name="itemService" ref="ItemService"></property>
		<property name="catalogService" ref="CatalogService"></property>
		<property name="lines" value="15"></property>
	</bean>

	<bean id="browseComment" class="org.symagic.user.action.item.BrowseCommentAction">
		<property name="itemService" ref="ItemService"></property>
		<property name="lines" value="15"></property>
	</bean>


	<!-- service bean -->
	<bean id="UserService" class="org.symagic.common.service.UserService">
		<property name="daoUser" ref="DaoUser"></property>
		<property name="daoCart" ref="DaoCart"></property>
		<property name="beanUser" ref="BeanUser"></property>
	</bean>

	<bean id="CatalogService" class="org.symagic.common.service.CatalogService">
		<property name="daoCatalog" ref="DaoCatalog"></property>
	</bean>

	<bean id="OrderService" class="org.symagic.common.service.OrderService">
		<property name="daoOrder" ref="DaoOrder"></property>
	</bean>

	<bean id="ItemService" class="org.symagic.common.service.ItemService">
		<property name="daoBook" ref="DaoBook"></property>
		<property name="daoComment" ref="DaoComment"></property>
	</bean>

	<bean id="RecommendService" class="org.symagic.common.service.RecommandService">
	</bean>


	<!-- 数据层bean -->
	<bean id="DaoAdmin" class="org.symagic.common.db.func.DaoAdmin" />
	<bean id="DaoBook" class="org.symagic.common.db.func.DaoBook" />
	<bean id="DaoCart" class="org.symagic.common.db.func.DaoCart"></bean>
	<bean id="DaoUser" class="org.symagic.common.db.func.DaoUser"></bean>
	<bean id="DaoFavorityFolder" class="org.symagic.common.db.func.DaoFavorityFolder"></bean>
	<bean id="DaoCatalog" class="org.symagic.common.db.func.DaoCatalog" />
	<bean id="DaoOrder" class="org.symagic.common.db.func.DaoOrder" />
	<bean id="DaoDistrict" class="org.symagic.common.db.func.DaoDistrict" />
	<bean id="DaoLevel" class="org.symagic.common.db.func.DaoLevel" />
	<bean id="DaoComment" class="org.symagic.common.db.func.DaoComment"></bean>
	<!-- 数据层实体bean -->
	<bean id="BeanUser" class="org.symagic.common.db.bean.BeanUser"></bean>
</beans>

